<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employees</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='table_style.css') }}"
    />
    <style>
      thead {
        background-color: #e98323;
      }
      tbody {
        background-color: #dfbc99;
      }
    </style>
  </head>
  <body
    style="background-image: linear-gradient(to top, #c28f79 0%, #9e3809 100%)"
  >
    <div class="categories-table" style="background-color: #f9d8c2">
      <h1 class="table-tiltle">Office Staffs</h1>
      <table>
        <thead>
          <tr>
            <th>Office Staff Code</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {% for row in office_staffs %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="categories-table" style="background-color: #f9d8c2">
      <h1 class="table-tiltle">Operational Staffs</h1>
      <table>
        <thead>
          <tr>
            <th>Operational Staff Code</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {% for row in operational_staffs %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="categories-table" style="background-color: #f9d8c2">
      <h1 class="table-tiltle">Partner Staffs</h1>
      <table>
        <thead>
          <tr>
            <th>Partner Staff Code</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {% for row in partner_staffs %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="categories-table" style="background-color: #f9d8c2">
      <h1 class="table-tiltle">Managers</h1>
      <table>
        <thead>
          <tr>
            <th>Manager Code</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {% for row in managers %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
