<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <main>
      <h1>Welcome to the Fabric Management System</h1>
      <nav>
        <a href="./categories.html">Categories</a> |
        <a href="./suppliers.html">Suppliers</a> |
        <a href="./orders.html">Orders</a> |
        <a href="./customers.html">Customers</a>
      </nav>
    </main>
  </body>
</html>
