<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suppliers</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='table_style.css') }}"
    />
    <style>
      th {
        background-color: #3bc59c;
      }
      tbody {
        background-color: #c2f5d3;
      }
    </style>
  </head>
  <body
    style="background-image: linear-gradient(to top, #0d2413 0%, #c2f5d3 100%)"
  >
    <a href="{{ url_for('index') }}">Home</a>

    <div class="categories-table" style="background-color: #325c4f">
      <h1 style="color: #ffffff">Suppliers</h1>
      <table>
        <thead>
          <tr>
            <th>Supplier Code</th>
            <th>Name</th>
            <th>Partner Staff Code</th>
            <th>Address</th>
            <th>Bank Account</th>
            <th>Tax Code</th>
          </tr>
        </thead>
        <tbody>
          {% for row in suppliers %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="categories-table" style="background-color: #325c4f">
      <h1 style="color: #ffffff">Phone Number</h1>
      <table>
        <thead>
          <tr>
            <th>Supplier Code</th>
            <th>Phone Num</th>
          </tr>
        </thead>
        <tbody>
          {% for row in suppliers_phone %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="categories-table" style="background-color: #c2f5d3">
      <h2 style="font-weight: bold">Add new suppliers</h2>
      <form action="/add_suppliers" method="post">
        <div>
          <label for="supp_code" style="font-weight: bold"
            >Supplier Code:</label
          >
          <input type="text" id="supp_code" name="supp_code" />
        </div>
        <div>
          <label for="supp_name" style="font-weight: bold">Name:</label>
          <input type="text" id="supp_name" name="supp_name" />
        </div>
        <div>
          <label for="prt_code" style="font-weight: bold"
            >Partner Staff Code:</label
          >
          <input type="text" id="prt_code" name="prt_code" />
        </div>
        <div>
          <label for="supp_address" style="font-weight: bold">Address:</label>
          <input type="text" id="supp_address" name="supp_address" />
        </div>
        <div>
          <label for="supp_bank" style="font-weight: bold">Bank Account:</label>
          <input type="text" id="supp_bank" name="supp_bank" />
        </div>
        <div>
          <label for="supp_tax" style="font-weight: bold">Tax Code:</label>
          <input type="text" id="supp_tax" name="supp_tax" />
        </div>
        <button
          type="submit"
          style="
            background-color: #123d10;
            color: #ffffff;
            padding: 10px 10px;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
          "
        >
          Add Suppliers
        </button>
      </form>
    </div>
    <div class="categories-table" style="background-color: #325c4f">
      <h1 style="color: #ffffff">Search Provides</h1>
      <form action="/search_all_categories" method="post">
        <label for="" style="color: #ffffff; font-weight: bold"
          >Supplier Code</label
        >
        <input type="text" name="supplier_code" />
        <button
          type="submit"
          style="
            background-color: #123d10;
            color: #ffffff;
            padding: 10px 10px;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
          "
        >
          Search all categories
        </button>
      </form>
      {% if categories %}
      <h2 style="color: #ffffff">Categories Provided</h2>
      <table>
        <thead>
          <tr>
            <th>Category Code</th>
            <th>Category Name</th>
            <th>Color</th>
            <th>Current Price</th>
            <th>Price Date</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for row in categories %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </body>
</html>
